:root {
	--red: #ec3172;
	--blue: #7731ec;
	--green: #3cec31;
	--yellow: #ece931;
	--gray: #8e8e8e;
	--white: #fff;
	--font-title: arial;
	--font-text: sans-serif;
	--shadow-title: -5px 5px 5px rgba(0,0,0,0.3);
	--shadow-box: -5px 5px 10px rgba(0,0,0,0.5);
	--border-2px: 2px solid var(--white);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	padding: 0;
	background: #252525;
	background: url(back.svg) top center / cover fixed;
}
a {
	color: #ece931;
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
li {
	list-style: none;
}
h1 {
	color: var(--white);
	font-family: var(--font-title);
	font-size: 2.7em;
	font-weight: bold;
	text-align: center;
}
p {
	color: var(--white);
	font-family: var(--font-text);
	font-size: 1.05em;
}

/** -----------------------------------------------
	first-view-cnt
----------------------------------------------- **/
.first-view-cnt {
	position: relative;
	height: 100vh;
	margin-bottom: 2rem;
}

/* -- floating-btn -- */
.floating-btn {
	position: fixed;
	top: 0;
	right: 0;
	width: 6em;
	padding: 0.8rem 1rem;
	z-index: 1;
	color: var(--yellow);
	text-align: center;
	font-family: var(--font-title);
	font-size: 1.1rem;
	font-weight: bold;
	line-height: 1.3;
	white-space: pre-wrap;
}
.floating-btn::before,
.floating-btn::after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: calc(100% + 1rem);
	height: calc(100% + 1rem);
	z-index: -1;
	box-shadow: var(--shadow-title);
}
.floating-btn::before {
	background: var(--green);
	transform:
		rotate(-2deg)
		translate(0.3rem, -1rem)
	;
}
.floating-btn::after {
	background: var(--red);
	transform:
		rotate(3deg)
		translateY(-1.5rem)
	;
}

/* -- logo -- */
.logo {
	top: 30vh;
	right: 0;
	left: 0;
	max-width: 300px;
	width: calc(100% - 2rem);
	transform-origin: bottom;
	position: absolute;
	margin: 0 auto;
}
.logo-text {
	opacity: 0;
	display: block;
	width: 150px;
	margin: 1.5rem auto;
	animation: slideRight 0.6s ease-out forwards 0.45s;
}
.logo-back-wrap {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: calc(100% - 1rem);
	height: 100%;
	margin: auto;
	z-index: -1;
}
.logo-back {
	display: block;
	width: 100%;
	height: 100%;
	transform-origin: center center;
	box-shadow: var(--shadow-box);
}
.logo-back-wrap:nth-child(1) {
	animation: slideRight 0.6s ease-out forwards;
}
.logo-back-wrap:nth-child(1) .logo-back {
	background: var(--green);
	transform:
		rotate(-1deg)
		translateY(0.7rem)
	;
}
.logo-back-wrap:nth-child(2) {
	animation: slideRight 0.6s ease-out forwards 0.15s;
}
.logo-back-wrap:nth-child(2) .logo-back {
	background: var(--red);
	transform:
		rotate(-7deg)
		translateY(-0.1rem)
	;
}
.logo-back-wrap:nth-child(3) {
	animation: slideRight 0.6s ease-out forwards 0.3s;
}
.logo-back-wrap:nth-child(3) .logo-back{
	background: var(--blue);
	transform:
		rotate(3deg)
	;
}
@keyframes slideRight {
	0% {
		opacity: 0;
		transform:
			translateY(15vh);
	}
	100% {
		opacity: 1;
		transform:
		translateY(0);
	}
}

/* -- first-view-infomation -- */
.first-view-infomation {
	position: absolute;
	top: calc(45vh + 3rem);
	right: 0;
	left: 0;
	padding: 0 1rem;
	margin: 0 auto;
	color: var(--white);
	font-family: var(--font-title);
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
}

/* -- scroll-btn -- */
.scroll-btn {
	position: absolute;
	bottom: 2rem;
	right: 0;
	left: 0;
	max-width: 65px;
	width: 15vw;
	height: auto;
	margin: 0 auto;
	animation: floatingAnimation 1s ease-in-out infinite alternate;
}
.scroll-btn-img {
	display: block;
	width: 100%;
	height: auto;
}
@keyframes floatingAnimation {
	0% {
		transform: translateY(-0.5rem);
	}
	100% {
		transform: translateY(0.5rem);
	}
}
/*.scroll-btn {
	position: absolute;
	bottom: calc(10vh + 2rem);
	right: 0;
	left: 0;
	width: 2rem;
	height: 2rem;
	margin: 0 auto;
}
.scroll-btn::before,
.scroll-btn::after {
	position: absolute;
	right: 0;
	left: 0;
	content: "";
	margin: 0 auto;
}
.scroll-btn::before {
	top: 0;
	width: 0;
	height: 100%;
	border-right: var(--border-2px);
}
.scroll-btn::after {
	bottom: 0;
	width: 1rem;
	height: 1rem;
	border-right: var(--border-2px);
	border-bottom: var(--border-2px);
	transform:
		rotate(45deg)
		translate(-2px, -2px)
	;
}*/

/** -----------------------------------------------
	section
----------------------------------------------- **/
/* -- section -- */
.section {
	position: relative;
	margin-bottom: 5rem;
	padding: 2rem 1rem;
	overflow: hidden;
}
.section:nth-child(even) {
	height: 120vw;
}
.section::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: block;
	height: calc(100% - 2rem);
	opacity: 0.8;
	z-index: -2;
}
.section:nth-child(odd)::before {
	background: var(--blue);
	width: 200vw;
	transform: translate(-25vw, 0.5rem) rotate(-5deg);
}
.section:nth-child(even)::before {
	background: var(--red);
	width: 120vw;
	border-radius: 100%;
	transform: translate(-2rem, 1rem);
}

.section p {
	text-align: center;
	margin-bottom: 2rem;
	line-height: 2;
}

/* -- section-title -- */
.section-title {
	position: relative;
	display: table;
	margin: 0 auto 2rem;
	color: var(--white);
	font-family: var(--font-title);
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
}
.section-title::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: block;
	padding: 0.8rem 2.5rem;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	box-shadow: var(--shadow-title);
	z-index: -1;
}
.section:nth-child(odd) .section-title::before {
	background: var(--red);
	transform:
		rotate(2deg)
		translate(-2.5rem, -0.8rem)
		skewX(-5deg);
	;
}
.section:nth-child(even) .section-title::before {
	background: var(--blue);
	transform:
		rotate(2deg)
		translate(-2.5rem, -0.8rem)
		skewX(5deg);
	;
}

/* -- main-btn -- */
.main-btn {
	display: block;
	position: relative;
	max-width: 220px;
	width: 100%;
	padding: 1rem;
	margin: 0 auto;
	text-align: center;
	font-family: var(--font-title);
	font-weight: bold;
}
.main-btn::before,
.main-btn::after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.main-btn::before {
	background: var(--green);
	transform:
		rotate(-2deg)
	;
}
.main-btn::after {
	background: var(--red);
	transform:
		rotate(3deg)
	;
	box-shadow: var(--shadow-box);
}
.main-btn .btn_sub-text {
	display: block;
	color: var(--white);
}
.main-btn .btn_main-text {
	display: block;
	font-size: 1.4rem;
}

/** -----------------------------------------------
	news-cnt
----------------------------------------------- **/
/* -- news-cnt -- */
.news-cnt_li {
	position: relative;
}
.news-box {
	padding: 1rem;
}
.news-box::after {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background: var(--white);
	transform: rotate(-1deg);
	z-index: -1;
}
.news-title-box {
	overflow-wrap: break-word;
	font-family: var(--font-title);
}
.news-cnt_title {
	display: block;
	border-bottom: 3px solid var(--red);
	margin-bottom: 0.2rem;
	color: var(--red);
	font-weight: bold;
	font-size: 1.7em;
}
.news-cnt_date {
	display: block;
	color: var(--gray);
	font-size: 0.95em;
	text-align: right;
}
.news-cnt_text {
	font-family: var(--font-text);
	color: var(--gray);
	font-size: 0.9em;
}
.news-cnt_btn {
	position: absolute;
	bottom: -2rem;
	left: 0;
	width: 100%;
	height: 5rem;
	padding: 0.5rem;
	background: var(--green);
	transform-origin: bottom left;
	transform:
		rotate(3deg)
		translateY(-5rem)
	;
	z-index: -2;
	color: var(--white);
	font-family: var(--font-title);
	font-weight: bold;
	text-align: right;
}
.news-cnt_btn::after {
	content: ">>";
	padding-left: 0.5rem;
	color: var(--yellow)
}

/** -----------------------------------------------
	footer
----------------------------------------------- **/
.footer {
	padding: 2rem 0 1rem;
	background: rgba(0,0,0,0.6);
}

/* -- footer-section -- */
.footer-section {
	margin-bottom: 1.5rem;
}
.footer-section-title {
	margin-bottom: 1.5rem;
	color: var(--white);
	font-family: var(--font-title);
	font-weight: bold;
	text-align: center;
}

/* -- sponsors-cnt -- */
.sponsors-cnt {
	display: flex;
	padding: 0 1rem;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.sponsors-cnt_li {
	width: 35vw;
	margin-top: 1rem;
}
.sponsors-cnt_li img {
	width: 100%;
	height: auto;
	filter:
		brightness(0)
		invert(1)
	;
}

.copyright {
	text-align: center;
	font-size: 0.8em;
}