@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: /*Arial, Helvetica,*/ "游 ゴシック", "游ゴシック体", YuGothic, "Yu Gothic Medium", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.02rem;
	line-height: 1.80;
	color: #2b2b2b;
}
ul,
ol {
	list-style-type: none;
}
a {
	transition: background .3s ease;
	color: #59A8C1;
}
img{
    max-width: 100%;
    height: auto;
}
a:hover {
	text-decoration: none;
}
p {
	margin-top: 10px;
}
address {
	font-style: normal;
}
.inner {
	position: relative;
	margin: 0 auto;
	max-width: 1100px;
	width: 92%;
}
.clearfix::after,
.clearfix::before {
	display: block;
	content: "";
	clear: both;
}

#header{
	background-color: #edf1f7;
	background-image: -webkit-gradient(
		linear
		,0 0
		,100% 0
		,color-stop(.5, transparent)
		,color-stop(.5, #dfe7f2)
		,to(#dfe7f2)
	);
	background-image: -moz-linear-gradient(
		0
		,transparent 50%
		,#dfe7f2 50%
	);
	background-size: 10.4vw;
}
#logo_web{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vw;
}
#logo_web.is-large{
    height: 40vw;
}
#logo_web>h1{
    font-size: 2rem;
    text-align: center;
    color: #5075ab;
    letter-spacing: .1em;
}
#navi{
    background-color: #7191bf;
}
#navi ul{
    list-style-type: none;
    padding-left: 0;
}
#navi ul>li>a{
    display: inline-block;
    width: 100%;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px dotted #fff;
    padding: 10px 0;
}
#navi ul>li>a:hover{
    background-color: #90aeda;
}
#navi ul>li:last-child>a{
    border-bottom: none;
}
#footer{
    border-top: 5px solid #edf1f7;
}
#footer .inner{
    padding: 5vw 0;
}
#logo{
    text-align: center;
    color: #5075ab;
    font-weight: bold;
    font-size: 1.8rem;
}
#footer_navi{
    display: none;
}
#copyright {
    padding: 5px;
    width: 100%;
    background-color: #7191bf;
    text-align: center;
    color: #fff;
}
#copyright p{
    margin-top: 0;
}
@media only screen and (min-width:769px){
    #logo_web.is-large{
        height: 30vw;
    }
    #logo_web>h1{
        font-size: 5rem;
    }
    #navi ul{
        text-align: center;
    }
    #navi ul>li{
        display: inline-block;
    }
    #navi ul>li>a{
        padding: 12px 2vw;
        border-bottom: none;
    }
    #footer .inner{
        padding: 25px 0;
        display: flex;
        align-items: center;
    }
    #footer_navi{
        display: block;
        margin-left: 2rem;
    }
    #footer_navi ul{
        list-style-type: none;
        border-left: 1px dashed #5075ab;
        padding-left: 0;
    }
    #footer_navi ul>li{
        display: inline-block;
        border-right: 1px dashed #5075ab;
        padding: 0 1vw;
    }
    #footer_navi ul>li>a{
        color: #5075ab;
        vertical-align: text-bottom;
    }
}

.page_menu{
    padding: 5vw 0;
    text-align: center;
}
.page_menu>h1{
    color: #5075ab;
}
.page_content{
    background: #EDF1F7;
    padding: 5vw 0;
}

.post_date{
    padding: 20px 20px 0;
}
.post_date:first-child{
    border-top: 1px dashed #aaa;
}
.post_info{
    border-bottom: 1px dashed #aaa;
    padding: 0 20px 20px;
}
.post_pager{
    display: flex;
    border-top: 1px dashed #aaa;
    margin: 50px auto 0;
    width: 90%;
    max-width: 600px;
}
.post_pager>li{
    flex: 1;
}
.post_pager>li:first-child{
    border-right: 1px dashed #aaa;
}
.post_pager>li:last-child{
    text-align: right;
}
.post_pager>li>a{
    display: block;
    padding: 15px 20px;
}

.widget_categories ul>li{
    display: inline-block;
    border: 1px solid #ddd;
    margin: 5px;
}
.widget_categories ul>li>a{
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    text-align: center;
}
.widget_categories ul>li>a:hover{
    background: #EDF1F7;
}
h2{
    margin-top: 2.25rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #5075ab;
}
